:root{
    --primary-bg: #0bc9cd;
    --secondary-bg: #14fff7;
    --primary-text: #1b3b6f;
    --secondary-text: #21295c;
    --section: #f194b4;
    --standard-gap: 20px;
}

body {
    font-family: Verdana;
    background: var(--primary-bg);
    color: var(--primary-text);
}

h1 {
    color: var(--secondary-text);
}

h2 {
    color: var(--secondary-text);
}

#intro {
    text-align: center;
}

#about {
    margin: var(--standard-gap);
    padding: 5px;
    border: 3px solid var(--section);
    background: var(--secondary-bg);
    text-align: center;
}

#projects{
    text-align: center;
}

#projects article{
    display: block;
    width: fit-content;
    padding: 10px;
    background: var(--secondary-bg);
    margin: var(--standard-gap);
    border: 3px solid var(--section);
}

nav {
    font-size: 20px;
}